/* src/fonts.css */
@font-face {
  font-family: 'Neue Montreal';
  src: url('/public/fonts/NeueMontreal-Regular.otf') format('opentype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Neue Montreal';
  src: url('/public/fonts/NeueMontreal-Medium.otf') format('opentype');
       /* url('/fonts/NeueMontreal-Medium.ttf') format('truetype'); */
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Neue Montreal';
  src: url('/public/fonts/NeueMontreal-Bold.otf') format('opentype');
       /* url('/fonts/NeueMontreal-Bold.ttf') format('truetype'); */
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Silk Serif';
  src: url('/public/fonts/SilkSerif-TRIAL-Regular-BF6740066e17571.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Silk Serif';
  src: url('/public/fonts/SilkSerif-TRIAL-Bold-BF6740066e7ab50.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}